
<h2>Pending Application</h2>
<div class="container">
    <form>
<table border="1" class="table table-sm table-bordered m-t-4 table-striped">
<thead>
<tr>
    <th>id</th>
    <th>customerName</th>
    <th>customerMobileno</th>
    <th>customerEmailId</th> 
     <th>customerPanNo</th>
    <th>ViewDetails</th>
   <th>Approve</th>
   <th>Reject</th> 
</tr>   
</thead>

<tbody *ngIf="retrievedDoc" >  
    <tr *ngFor="let c of retrievedDoc" >
        <ng-container  *ngIf="c.loanStatus !=='Approved'"> 
    
         <td>{{c.id}}</td>
         <td>{{c.customerName}}</td>
         <td>{{c.customerMobileno}}</td>
         <td>{{c.customerEmailId}}</td>
         <td>{{c.customerPanNo}}</td>
         <td><a class="btn" [routerLink]="['ad',c.id]">Applicant Details</a></td>
         <td><button type="submit" class="btn btn-success" name="loanStatus" value="Approve" (click)="approvedCall(c)">Approve</button></td>
         <td><button type="submit" class="btn btn-danger" name="loanStatus" value="Reject" (click)="rejectedCall(c)">Reject</button></td>
        </ng-container>
       
    </tr>
</tbody>
</table>
</form>
</div>
<router-outlet></router-outlet>
