

<div class="jumbotron"style="text-align:center" >
    <h2>Customer Details</h2>
    <table class="table table-sm table-bordered m-t-2 table-striped">
    <tr>
    <td> Customer Id:</td>
    <td> <input type="text"value={{enquirydetail.id}}></td>
    </tr>
    <tr>
    <td> Customer Name:</td>
    <td> <input type="text" value={{enquirydetail.customerName}}></td>
    </tr>
    <tr>
    <td> Customer Mobile No.:</td>
    <td> <input type="text" value={{enquirydetail.customerMobileno}}></td>
    </tr>
    <tr>
    <td> Customer Phone No:</td>
    <td> <input type="text" value={{enquirydetail.customerPanNo}}></td>
    </tr>
    <tr>
    <td> Customer Email Id:</td>
    <td> <input type="text" value={{enquirydetail.customerEmailId}}></td>
    </tr>
    <tr>
    <td> Customer Eligibility:</td>
    <td> <input type="text" value={{enquirydetail.eligiblity}}></td>
    </tr>
    <tr>
    <td> Cibil score:</td>
    <td> <input type="text" value={{enquirydetail.cibil}}></td>
    </tr>
    <tr>
</table>
<button class="btn btn-info float-right" (click)="getback()">Go Back</button>
</div>