<div class="container">
  <h2>Approval Status</h2>
  <p>Loans approved by the Branch Manager.</p>

  <div class="table-responsive">
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th>Application ID</th>
          <th>Customer Name</th>
          <th>Mobile Number</th>
          <th>Email</th>
          <th>PAN Number</th>
          <th>CIBIL Score</th>
          <th>Loan Status</th>
          <th>Mail</th>
        </tr>
      </thead>
      <tbody *ngIf="retrievedDoc">
        <tr *ngFor="let c of retrievedDoc">
          <ng-container *ngIf="c.loanStatus == 'Approved'">
            <td>#{{c.id}}</td>
            <td>{{c.customerName}}</td>
            <td>{{c.customerMobileno}}</td>
            <td>{{c.customerEmailId}}</td>
            <td>{{c.customerPanNo | uppercase}}</td>
            <td><strong>{{c.cibil}}</strong></td>
            <td>{{c.loanStatus}}</td>
            <td><button type="button" class="btn btn-primary" (click)="mailsend(c.id)">Send Mail</button></td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
