<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">DOCUMENT VERIFICATION OFFICER</div>
    <div class="list-group list-group-flush">
      <a routerLink="doc" class="list-group-item list-group-item-action bg-light">Document Verification</a>
      <a routerLink="vs" class="list-group-item list-group-item-action bg-light">Verification Status</a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Menu</button>
      <div class="ml-auto"><a class="nav-link" href="login">LOG OUT</a></div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
