<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">ACCOUNT HEAD</div>

    <div class="list-group list-group-flush">
      <a routerLink="va" class="list-group-item list-group-item-action bg-light">Verified Applicants</a>
      <a routerLink="sa" class="list-group-item list-group-item-action bg-light">Sanction Applicants</a>
      <a routerLink="/login" class="list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Menu</button>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
