body {
  background: rgb(5, 68, 104);
  overflow-x: hidden;
}

#sidebar-wrapper {
  background: rgb(5, 68, 104);
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  background: rgb(5, 68, 104);
  color: white;
  padding: 1.25rem 1.25rem;
  font-size: 1.2rem;
  font-weight: 600;
}

#sidebar-wrapper .list-group {
  background: rgb(5, 68, 104);
  width: 15rem;
}

#sidebar-wrapper .list-group-item {
  border: 0;
  padding: 14px 20px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper .navbar {
  min-height: 62px;
}

.container-fluid {
  padding: 25px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    background: rgb(216, 223, 226);
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    background: rgb(27, 67, 83);
    margin-left: -15rem;
  }
}
