<div class="login-page">
  <div class="login-card">
    <div class="login-image">
      <img src="assets/img/pexels-ken-tomita-389819.jpg" alt="Finance workspace">
      <div class="image-overlay">
        <h1>LUCIFER FINANCE</h1>
        <p>Home Loan Management System</p>
      </div>
    </div>

    <div class="login-panel">
      <div class="login-heading">
        <h2>Welcome Back</h2>
        <p>Login to continue</p>
      </div>

      <form action="#">
        <div class="input-group login-input">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input id="username" type="text" name="username" placeholder="Username" [(ngModel)]="user" class="form-control">
        </div>

        <div class="input-group login-input">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
          </div>
          <input id="password" type="password" name="password" placeholder="Password" [(ngModel)]="pass" class="form-control">
        </div>

        <div class="input-group login-input">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-black-tie"></i></span>
          </div>
          <select id="job" name="jobtitle" [(ngModel)]="role" class="form-control custom-select">
            <option value="">Choose your job</option>
            <option value="Sales Executive">Sales Executive</option>
            <option value="Operational Executive">Operational Executive</option>
            <option value="Document Verification Officer">Document Verification Officer</option>
            <option value="Account Head">Account Head</option>
            <option value="Branch Manager">Branch Manager</option>
            <option value="ledger">Ledger</option>
          </select>
        </div>

        <button type="button" (click)="login()" class="login-button">
          <span>LOGIN</span>
        </button>

        <h5 class="login-error">{{msg}}</h5>
      </form>
    </div>
  </div>
</div>
