
<div class="container">

    <h2>Sanction Applicants List</h2>
    
    <table class="table table-sm table-bordered m-t-2 table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>customerName</th>
            <th>customerMobileno</th>
            <th>customerEmailId</th> 
            <th>customerPanNo</th>
            <th>Cibil</th>
            <th>Sanction Letter</th>
        
          
        </tr>
        </thead>
        <tbody *ngIf="retrievedDoc">
            <tr *ngFor="let c of retrievedDoc">
                <ng-container *ngIf="c.customerAllDocument.sanctionLetter !== null" > 
                 <td>{{c.id}}</td>
                 <td>{{c.customerName}}</td>
                 <td>{{c.customerMobileno}}</td>
                 <td>{{c.customerEmailId}}</td>
                 <td>{{c.customerPanNo}}</td>
                 <td>{{c.cibil}}</td>
                 <td>Sanction Letter Generated</td>
                 </ng-container>
                 
               
                
            </tr> 
        </tbody>
        </table><br>
        <br>
    </div>
    