<div class="jumbotron" style="text-align:center" *ngIf="customerObject">
  <h2>Customer Details</h2>

  <table class="table table-sm table-bordered table-striped">
    <tr><td>Application ID</td><td>{{customerObject.id}}</td></tr>
    <tr><td>Customer Name</td><td>{{customerObject.customerName}}</td></tr>
    <tr><td>Mobile Number</td><td>{{customerObject.customerMobileno}}</td></tr>
    <tr><td>Date of Birth</td><td>{{customerObject.customerDOB}}</td></tr>
    <tr><td>Email</td><td>{{customerObject.customerEmailId}}</td></tr>
    <tr><td>PAN Number</td><td>{{customerObject.customerPanNo | uppercase}}</td></tr>
    <tr><td>Aadhaar Number</td><td>{{customerObject.customerAadharNo}}</td></tr>
    <tr><td>Gender</td><td>{{customerObject.customerGender}}</td></tr>
    <tr><td>Monthly Income</td><td>₹ {{customerObject.customerIncome}}</td></tr>
    <tr><td>CIBIL Score</td><td><strong>{{customerObject.cibil}}</strong></td></tr>
    <tr><td>Loan Status</td><td>{{customerObject.loanStatus}}</td></tr>
    <tr><td>Verification Status</td><td>{{customerObject.verificationn}}</td></tr>

    <tr><th colspan="2">Current Address</th></tr>
    <tr><td>Area</td><td>{{customerObject.customerlocalAddress?.areaName}}</td></tr>
    <tr><td>City</td><td>{{customerObject.customerlocalAddress?.cityName}}</td></tr>
    <tr><td>District</td><td>{{customerObject.customerlocalAddress?.district}}</td></tr>
    <tr><td>State</td><td>{{customerObject.customerlocalAddress?.state}}</td></tr>
    <tr><td>Pincode</td><td>{{customerObject.customerlocalAddress?.pincode}}</td></tr>

    <tr><th colspan="2">Permanent Address</th></tr>
    <tr><td>Area</td><td>{{customerObject.customerPermanentAddress?.areaName}}</td></tr>
    <tr><td>City</td><td>{{customerObject.customerPermanentAddress?.cityName}}</td></tr>
    <tr><td>District</td><td>{{customerObject.customerPermanentAddress?.district}}</td></tr>
    <tr><td>State</td><td>{{customerObject.customerPermanentAddress?.state}}</td></tr>
    <tr><td>Pincode</td><td>{{customerObject.customerPermanentAddress?.pincode}}</td></tr>

    <tr><th colspan="2">Bank Details</th></tr>
    <tr><td>Bank Name</td><td>{{customerObject.customerBankAccountDetails?.bankName}}</td></tr>
    <tr><td>Account Number</td><td>{{customerObject.customerBankAccountDetails?.accountNumber}}</td></tr>
    <tr><td>IFSC Code</td><td>{{customerObject.customerBankAccountDetails?.ifscCode}}</td></tr>
    <tr><td>Bank Address</td><td>{{customerObject.customerBankAccountDetails?.address}}</td></tr>

    <tr><th colspan="2">Guarantor Details</th></tr>
    <tr><td>Name</td><td>{{customerObject.guarantorDetails?.guarantorName}}</td></tr>
    <tr><td>Mobile Number</td><td>{{customerObject.guarantorDetails?.guarantorMobileNo}}</td></tr>
    <tr><td>Email</td><td>{{customerObject.guarantorDetails?.guarantorEmailId}}</td></tr>
    <tr><td>Address</td><td>{{customerObject.guarantorDetails?.guarantorAddress}}</td></tr>
  </table>

  <button class="btn btn-info" (click)="getback()">Back</button>
</div>
