<div class="loan-request-page">
  <div class="loan-card">
    <div class="card-header bg-primary text-white">
      <h4 class="text-uppercase text-center">Registration</h4>
    </div>

    <form class="loan-form" [formGroup]="basicdetails" *ngIf="basic ==true">
      <h3 class="section-title">Basic Details</h3>

      <div class="form-group col-md-4">
        <label for="custmer_name">CUSTOMER NAME</label>
        <input type="text" class="form-control" id="custmer_name" formControlName="customerName" placeholder="Customer Name" />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_email">Customer Email</label>
          <input type="customer_email" class="form-control" id="customer_email" formControlName="customerEmailId" placeholder="Customer Email ID" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_mob_no">Customer Mobile No</label>
          <input type="text" class="form-control" id="customer_mob_no" formControlName="customerMobileno" placeholder="Customer Mobile No" />
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="customer_dob">Custmer Dob</label>
        <input type="date" class="form-control" id="customer_dob" formControlName="customerDOB" required />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_gender">Customer Gender</label>
          <input type="text" class="form-control" id="customer_gender" formControlName="customerGender" placeholder="Gender" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_pan_card">CUSTOMER PAN NO.</label>
          <input type="text" class="form-control" id="customer_pan_card" formControlName="customerPanNo" placeholder="Customer PAN No." />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_aadhar_card">CUSTOMER AADHAR NO.</label>
          <input type="text" class="form-control" id="customer_aadhar_card" formControlName="customerAadharNo" placeholder="Customer Aadhar No." />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_income">CUSTOMER INCOME</label>
          <input type="text" class="form-control" id="customer_income" formControlName="customerIncome" placeholder="Customer Income" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="loan_status">Loan Status</label>
          <input type="text" class="form-control" id="loan_status" formControlName="loanStatus" placeholder="Loan Status" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customer_varification">Verification</label>
          <input type="text" class="form-control" id="customer_varification" formControlName="verificationn" placeholder="verification" />
        </div>
      </div>

      <div formGroupName="customerlocalAddress">
        <div class="form-group col-md-12">
          <label for="area_name">Area Name</label>
          <input type="text" class="form-control" id="area_name" formControlName="areaName" placeholder="Area Name" />
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="state_name">STATE</label>
            <select class="select" formControlName="state">
              <option selected>Choose...</option>
              <option>Maharashtra</option>
              <option>Rajasthan</option>
              <option>Goa</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="district_name">DISTRICT</label>
            <select class="select" formControlName="district">
              <option selected>Choose...</option>
              <option>PUNE</option>
              <option>NAGPUR</option>
              <option>NANDED</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="city_name">CITY</label>
            <select class="select" formControlName="cityName">
              <option selected>Choose...</option>
              <option>PUNE</option>
              <option>NAGPUR</option>
              <option>NANDED</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="pin_code">PIN CODE</label>
          <input type="text" class="form-control" id="inputEmail4" formControlName="pincode" placeholder="Pin Code" />
        </div>
      </div>

      <div formGroupName="customerPermanentAddress">
        <div class="form-group col-md-12">
          <label for="permanent_area_name">Area Name</label>
          <input type="text" class="form-control" id="permanent_area_name" formControlName="areaName" placeholder="Area Name" />
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="permanent_state_name">STATE</label>
            <select class="select" formControlName="state">
              <option selected>Choose...</option>
              <option>Maharashtra</option>
              <option>Rajasthan</option>
              <option>Goa</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="permanent_district_name">DISTRICT</label>
            <select class="select" formControlName="district">
              <option selected>Choose...</option>
              <option>PUNE</option>
              <option>NAGPUR</option>
              <option>NANDED</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="permanent_city_name">CITY</label>
            <select class="select" formControlName="cityName">
              <option selected>Choose...</option>
              <option>PUNE</option>
              <option>NAGPUR</option>
              <option>NANDED</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="permanent_pin_code">PIN CODE</label>
          <input type="text" class="form-control" id="permanent_pin_code" formControlName="pincode" placeholder="Pin Code" />
        </div>
      </div>

      <div formGroupName="guarantorDetails">
        <div class="form-group col-md-4">
          <label for="gurantor_name">GURANTOR NAME</label>
          <input type="text" class="form-control" id="gurantor_name" formControlName="guarantorName" placeholder="Gurantor Name" />
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="gurantor_email">GURANTOR EMAIL</label>
            <input type="email" class="form-control" id="gurantor_email" formControlName="guarantorEmailId" placeholder="Gurantor Email ID" />
          </div>
          <div class="form-group col-md-6">
            <label for="gurantor_mobile_no">GURANTOR MOBILE NO</label>
            <input type="text" class="form-control" id="gurantor_mobile_no" formControlName="guarantorMobileNo" placeholder="Gurantor Mobile No" />
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="gurantor_address">GURANTOR ADDRESS</label>
          <input type="text" class="form-control" id="gurantor_address" formControlName="guarantorAddress" placeholder="Gurantor Address" />
        </div>
      </div>

      <div formGroupName="customerBankAccountDetails">
        <div class="form-group col-md-4">
          <label for="bank_name">BANK NAME</label>
          <input type="text" class="form-control" id="bank_name" formControlName="bankName" placeholder="Bank Name" />
        </div>
        <div class="form-group col-md-4">
          <label for="account_no">Account Number</label>
          <input type="text" class="form-control" id="account_no" formControlName="accountNumber" placeholder="Account Number" />
        </div>
        <div class="form-group col-md-4">
          <label for="ifsc_code">IFSC CODE</label>
          <input type="text" class="form-control" id="ifsc_code" formControlName="ifscCode" placeholder="IFSC code" />
        </div>
        <div class="form-group col-md-12">
          <label for="branch_address">BRANCH ADDRESS</label>
          <input type="text" class="form-control" id="branch_address" formControlName="address" placeholder="Branch Address" />
        </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="basics()">NEXT</button>
    </form>

    <div *ngIf="upload === true">
      <h3 class="section-title document-title">Upload Documents</h3>
      <form class="document-form" [formGroup]="documentUpload">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile1" (change)="onSelectedFile1($event)" />
          <img [src]="imageSrc1" height="50">
          <label class="custom-file-label" for="customFile1">PAN Card</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile2" (change)="onSelectedFile2($event)" />
          <img [src]="imageSrc2" height="50">
          <label class="custom-file-label" for="customFile2">Aadhar Card</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile3" (change)="onSelectedFile3($event)" />
          <img [src]="imageSrc3" height="50">
          <label class="custom-file-label" for="customFile3">Bank Passbook</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile4" (change)="onSelectedFile4($event)" />
          <img [src]="imageSrc4" height="50">
          <label class="custom-file-label" for="customFile4">Photo</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile5" (change)="onSelectedFile5($event)" />
          <img [src]="imageSrc5" height="50">
          <label class="custom-file-label" for="customFile5">Signature</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile6" (change)="onSelectedFile6($event)" />
          <img [src]="imageSrc6" height="50">
          <label class="custom-file-label" for="customFile6">Cancelled Check</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile7" (change)="onSelectedFile7($event)" />
          <img [src]="imageSrc7" height="50">
          <label class="custom-file-label" for="customFile7">Salary Slip</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile8" (change)="onSelectedFile8($event)" />
          <img [src]="imageSrc8" height="50">
          <label class="custom-file-label" for="customFile8">Sanction Letter</label>
        </div>
      </form>

      <button type="submit" class="btn btn-primary document-upload-button" (click)="uploadDoc()">Upload</button>
    </div>

    <div *ngIf="confirm === true" class="confirm-box">
      <div>
        <input type="checkbox" value="true" />Agree to terms and conditions<br />
        <button type="submit" class="btn btn-info" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
