<p>sales-dashboard works!</p>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Sales Dashboard</div>
        <div class="list-group list-group-flush">
            <a routerLink="ec" class="list-group-item list-group-item-action bg-light">Eligible Customer</a>
            <a routerLink="lra" class="list-group-item list-group-item-action bg-light">Loan Request</a>
            <a routerLink="pa" class="list-group-item list-group-item-action bg-light">Pending Application</a>
            <a routerLink="cad" class="list-group-item list-group-item-action bg-light">Applicant Documents</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Menu</button>
            <div class="ml-auto"><a class="nav-link" href="login">LOG OUT</a></div>
        </nav>
        <div class="container-fluid">
            <h1 class="mt-4"></h1>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
